<div class="thanks">
  <%= image_tag "menu-white.svg", class: "icon-menu" %>
  <div class="container content text-center">
    <div class="row">
      <h1>Thanks. We'll be in touch.</h1>
    </div>
  </div>
</div>